.newUser {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newUserForm {
  margin-top: 10px;
}

.newUserItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.newUserItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.newUserItem > input {
  padding: 10px;
}

.newUserItem > select {
  padding: 10px;
}

.newUserButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}